*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-image: url('./components/images/universe-spiral-4000x5000-10972.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .logo{
    color: white;
    margin-left: 20px;
    width: 300px;
    height: 70px;
    text-align: center;
    place-content: center;
    font-size: 4.5em;
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px;
    font-weight: 400;
  }
  .logo:hover{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(45deg, rgba(255, 0, 225, 0.5), rgba(57, 41, 155, 0.7));
  
  }
  header nav {
    width: 35%;
    margin-right: 10px;
  }
  header nav ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  header nav ul li{
    list-style: none;
  }
  header nav ul li a{
    font-size: 2.3em;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
  }
  
  header nav ul li a:hover{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(45deg, rgba(255, 0, 225, 0.5), rgba(57, 41, 155, 0.7));
  
  }
  /*home styles*/
  .CenterLogo{
    width: 100%;
    height: 300px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p{
    color: black;
    font-weight: bolder;
   width: 700px;
   display: flex;
   justify-content: space-between;
   align-items: center;
  }
  .logoName{
    font-size: 4.3em;
    text-transform: capitalize;
    margin: 10px;
  }
  .dot{
    font-size: 6em;
    font-weight: bolder;
  }
  .logoInfo{
    font-size: 2.3em;
    text-transform: capitalize;
    margin: 10px;
  }
  .buttonContainer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Viewbtn{
    font-size: 1.5em;
    padding: 7px;
    text-transform: capitalize;
    outline: none;
    border-radius: 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
  }
  .Viewbtn::after{
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
    background: linear-gradient(45deg, rgba(255, 0, 225, 0.9), rgba(32,56,78,0.7));
  
  }
  .Viewbtn::before{
    content: '';
    background: linear-gradient(45deg, rgba(255, 0, 225, 0.9), rgba(32,56,78,0.7));
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    filter: blur(8px);
    z-index: -1;
  }
  .Viewbtn:hover{
    background: linear-gradient(45deg, rgba(32,56,78,0.7), rgba(0, 0, 0, 0.4));
  }
  /*games.js styles*/
  #form{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input{
    width: 800px;
    font-size: 2.2em;
    text-transform: capitalize;
    border-radius: 7px;
    outline: none;
    border: none;
    padding: 5px;
  }
  .searchBtn{
    font-size: 2em;
    text-transform: capitalize;
    padding: 5px;
    margin-left: 5px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .genresContainer{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .genres{
    margin: 10px;
    font-size: 1.5em;
    color: white;
    padding: 8px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
  cursor: pointer;
  }
  .genres:hover{
    background-color: rgba(0, 0, 0, 0.8);
  }
  .contentContainer{
    width: 100%;
    height: 100%;
  }
  .gameData{
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .gameImage{
    width: 250px;
    height: 250px;
    position: relative;
    margin-bottom: 70px;
    padding: 5px;
  }
  .gameImage:hover::after{
    content: 'view more';
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 1.7em;
   text-transform: capitalize;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .viewMore{
    top: 10%;
    left: 20%;
    color: white;
  
  }
  
  .gameName{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5px;
  font-weight: 200;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 2px;
  border-radius: 0  9px  9px 0;
  color: white;
  padding: 3px;
  top: 90%;
  left: 90%;
  background-color: #080808;
  }
  .viewMoreBtn{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .viewMoreBtn button{
    width: 500px;
    height: fit-content;
    padding: 4px;
    text-transform: capitalize;
    font-size: 1.73em;
    cursor: pointer;
    background: linear-gradient(150deg, rgba(0,0,0, 0.4) 0%, rgb(0,0,0));
    color: white;
  }
  /*gameInfo styles*/
  .InfoContainer{
    margin-top: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-color: rgba(19, 77, 82, 0.571);
  }
  .infoImage{
    width: 540px;
    height: 600px;
    object-fit: fill;
  }
  .h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .infoData{
    width: 800px;
    color: white;
  }
  .description{
    background-color: rgba(19, 77, 82, 0.704);
  padding: 5px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 1.4em;
  width: fit-content;
  color: white;
  }
  .rating, .year{
    background-color: rgba(19, 77, 82, 0.656);
    text-transform: capitalize;
    font-size: 1.5em;
    padding: 4px;
    width: 400px;
    margin: 10px;
    border-radius: 5px;
    color: white;
  }
  .page{
    width: 100%;
    text-align: center;
    font-size: 3em;
    color:  black;
    text-transform: capitalize;
    font-weight: bold;
  }
  @media (max-width: 1024px) {
    .logo{
      width: 300px;
      height: 40px;
      font-size: 4em;
      padding: 5px;
    }
    header{
      margin-bottom: 20px;
    }
    header nav {
      width: 35%;
      margin-right: 10px;
    
    }
    header nav ul li a{
      font-size: 1.5em;
    }
    /*game.js*/
    .genres{
      margin: 5px;
      font-size: 1em;
    }
    .gameImage{
      width: 200px;
      height: 230px;
      position: relative;
      margin-bottom: 70px;
      padding: 5px;
    }
    .gameImage:hover::after{
      content: 'view more';
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     font-size: 1.7em;
     text-transform: capitalize;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
    .viewMore{
      top: 10%;
      left: 20%;
      color: white;
    
    }
    
    .gameName{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 5px;
    font-weight: 200;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 2px;
    border-radius: 0  9px  9px 0;
    color: white;
    padding: 3px;
    top: 90%;
    left: 90%;
    background-color: #080808;
    }
    .viewMoreBtn{
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
    }
    .viewMoreBtn button{
      width: 500px;
      height: fit-content;
      padding: 4px;
      text-transform: capitalize;
      font-size: 1.73em;
      cursor: pointer;
      background: linear-gradient(150deg, rgba(0,0,0, 0.4) 0%, rgb(0,0,0));
      color: white;
    }
  }
  @media (max-width: 946px) {
 
    .logo{
      width: 300px;
      height: 40px;
      font-size: 4em;
      padding: 5px;
    }
    header nav {
      width: 35%;
      margin-right: 10px;
    }
    header nav ul li a{
      font-size: 1.5em;
    }
    /*home*/
    .logoName{
      font-size: 4em;
    }
    .logoInfo{
      font-size: 2em;
    }
  }
  @media (max-width: 768px) {
    .logo{
      width: 300px;
      height: 40px;
      font-size: 3.6em;
      padding: 5px;
    }
    header nav {
      width: 35%;
      margin-right: 10px;
    }
    header nav ul li a{
      font-size: 1.5em;
    }
    /*home*/
    .logoName{
      font-size: 3.7em;
      margin: 5px;
    }
    .dot{
      font-size: 6em;
      font-weight: bolder;
    }
    .logoInfo{
      font-size: 1.8em;
      margin: 5px;
    }
    .buttonContainer{
      height: 100px;
    }
    /*game.js*/
    .genres{
      margin: 5px;
      font-size: 1em;
    }
    .gameImage{
      width: 150px;
      height: 180px;
    }
    
    .gameName{
    font-size: 1em;
    }
    .viewMoreBtn button{
      font-size: 1.3em;
      width: 400px;
    }
  }

  @media (max-width: 609px) {
    .logo{
      width: fit-content;
      height: 40px;
      font-size: 3em;
      padding: 5px;
      margin-left: 10px;
    }
    header nav {
      width: 40%;
    }
    header nav ul li a{
      font-size: 1.2em;
    }
    /*home*/
    .logoName{
      font-size: 3em;
      margin: 5px;
    }
    .dot{
      font-size: 5em;
    }
    .logoInfo{
      font-size: 1.8em;
      margin: 5px;
    }
    .buttonContainer{
      height: 100px;
    }
    .CenterLogo{
      height: 250px;
    }
  }
  @media (max-width: 500px) {
    .logo{
      font-size: 2.3em;
    }
    header nav ul li a{
      font-size: 1em;
    }
    /*home*/
    .logoName{
      font-size: 2.5em;
      margin: 5px;
    }
    .dot{
      font-size: 3em;
    }
    .logoInfo{
      font-size: 1.2em;
    }
    .CenterLogo{
      height: 250px;
    }
  }
  @media (max-width:462px) {
    .genres{
      margin: 3px;
      font-size: .6em;
    }
    .gameImage{
      width: 120px;
      height: 140px;
    }
    
    .gameName{
    font-size: .7em;
    }
    .viewMoreBtn button{
      font-size: 1em;
      width: 300px;
    }
  }
  @media (max-width: 375px) {
    .logo{
      font-size: 1.7em;
    }
    header nav ul li a{
      font-size: .7em;
    }
    /*home*/
    .logoName{
      font-size: 1.7em;
      margin: 5px;
    }
    .logoInfo{
      font-size: 1em;
    }
    .CenterLogo{
      height: 250px;
    }
    .Viewbtn{
      font-size: 1em;
    }
  }
  